{{> header}}

  <main>
    <div id="artistName" style="display:block; margin-bottom:20px; text-align:center">
      
      <h2>About <span class="highlight">{{artistInfo.name}}</span></h2>
      <p class="introText">{{artistInfo.bio}}</p> 
      <!-- this is repeating for multiple artists. I tried various helpers in handlebars -->
 
    </div>
   <section id="workItems">  
      {{#each artist}}
      
      <div item-img-container">
      
        <div class="item-img-container" style="text-align:center">
          <a href="/work/{{id}}">
              <img src="/images/{{image}}" title="{{artist_name}}&hearts; {{name}}" alt="{{name}}" class="aicWorkImg"/>
          </a>
          </div>
        
     <h4 class="artworkTitle"><a href="/work/{{id}}">{{name}}</a></h3>
       </div>
      {{/each}}
    </section>
    <a href="/" id="returnToStore">Return to Main Gallery</a>
  </main>

{{> footer}}