{{> header}}
<main>
  <h2>&hearts; My Favorite Artwork &hearts; </h2>
  <p>
    <a href="/">Return to Gallery</a>
  </p>
  <section id="favorites">
    <div class="cart-items">
      {{#each favoriteItem}}
        <div class="cart-item">
          <a
            href="/work/{{artworkId}}"
            class="cart-item-info">
            <img src="/images/{{image}}" alt="{{name}}" />
            <div>
              <p>{{name}}</p>
           
            </div>
          </a>
         
              <button
                class="remove-from-cart"
                data-cart-id="{{id}}">
                Remove
              </button>
            </div>
            <p></p>
          </div>
        </div>
        <hr />
      {{/each}}

      <button id="removeFav">Clear My Canvas</button>
    </div>
  </section>
</main>

