{{> header}}
  <main>
    <h2>Welcome to the Gallery</h2>
    <section id="workItems">
      {{#each rows}}
      <a href="/work/{{id}}" class="sale-item">
        <div class="item-img-container">
          <img src="images/{{image}}" alt='{{name}}' />
        </div>
        <!--<p>{{name}}</p> -->
        <p>{{artist_name}}</p>
      </a>
      {{/each}}
    </section>
  </main>
  <footer>
    <p>&copy; Art Repo</p>
  </footer>