{{> header}}
  <main>
    <h2>Welcome to the Gallery Walk</h2>
    <p class="introText">
      Welcome to <span class="highlight">Gallery Walk</span>, a website that allows you to mark pieces of artwork that you want to see when you visit our museum (and soon to be others throughout the globe). We are thrilled that you are here and hope that you'll enjoy exploring the collections of artwork and marking your favorites. We understand that visiting large art museums can be overwhelming with so many pieces of art to see and appreciate, that is why we developed the favorite's feature to help you plan your visit. </p>
    
    <p class="introText">
     As you view the artworks throughout the site you can mark the pieces of artwork that you would like to see when visiting our museum. With just a click, you can add your favorite pieces <span class="highlight"> &hearts; </span> to your personal list and we will generate a customized guide just for you! This way, you can be sure that you won't miss any of the pieces that caught your heart and you can make the most of your visit! We hope that you have a wonderful time exploring our collections, both online and in person! 
      <span class="highlight">Happy Exploring!</span></p>
    <section id="workItems">
      {{#each rows}}
      <a href="/work/{{id}}">
        <div class="item-img-container">
          <img src="/images/{{image}}" alt='{{name}}' class="workBorder"/>
        </div>
     <!--   <p>{{name}}</p> -->
        <p>{{artist_name}}</p>
      </a>
      {{/each}}
    </section>
  </main>
{{> footer}}