{{> header}}
<main>
  <section id="artwork-container">
   <img src="/images/{{work.image}}" alt="{{work.name}}" class="workImg"/>
   <form method="POST" action="/api/favorites?favoritesId={{artwork_id}}">">
        <h2>{{work.name}}</h2>
        <a href="/artist/{{work.artist_id}}"><h3>{{work.artist_name}}</h3></a>
        <h4>{{work.year}}</h4>
        <p>{{work.description}}</p>
        <p>Medium: {{work.med}}</p>
        <p>Location: {{work.loc}}</p>
        <p>Collection: {{work.coll}}</p>
      <button> &hearts; Mark as a Favorite &hearts;</button>  
   </form>
   <br>
  </section>
  <a href="/" id="returnToStore">Return to Main Gallery</a>
</main>
{{> footer}}